<app-header menuName="login"></app-header>
<div class="wrapper col2">
    <div id="gallery">
        <h2>Login Page</h2>
        <div>
          <input [(ngModel)]="login_email" type="text" placeholder="Enter Email">

        </div>
        <div>
          <input [(ngModel)]="login_password" type="password" placeholder="Enter Password">
        </div>
      <div>
        <input type="button" (click)="loginApi()" value="Click to login">
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <app-footer></app-footer>
  <!-- <input [(ngModel)]="login_email" type="text" placeholder = "Enter email"> -->