<app-header menuName="contact"></app-header>
<div class="wrapper col4">
    <div id="container">
      <div id="content">
        <h1>This is Contact Page</h1>
        <form actions="">
         <div>
             <input type="text" placeholder="Enter Name">
         </div>
         <div>
            <textarea placeholder="Enter Message"></textarea>
        </div>
        <div>
            <input type="button" value="Click to submit form">
        </div>
        </form>
      
    </div>
  </div>
  <app-footer></app-footer>
